@keyframes moveFromTopLeft {
    0% {
        box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
        transform: translate(-10px, -10px);
    }
    100% {
        box-shadow: 0;
        transform: 0;
    }
}

@keyframes moveToTopLeft {
    0% {
        box-shadow: 0;
        transform: 0;
    }
    100% {
        box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
        transform: translate(-10px, -10px);
    }
}

.gallery {
    cursor: default;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.gallery-title {
    font-family: "bonzai";
    font-size: 36px;
    text-align: center;
    color: #212529;
    position: relative;
    padding-bottom: 1rem;
}

.gallery-title:after {
    content: '';
    position: absolute;
    width: 33%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 33%;
    background-color: #c80000;
    transform-origin: bottom center;
}

.gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
}

.gallery-item {
    position: relative;
    background: linear-gradient(to bottom, #00ff0d77, #ffc40077);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    padding: 0;
}

.gallery-img {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.gallery-item:hover .gallery-img {
    animation: moveToTopLeft 0.5s forwards;
}

.gallery-item:not(:hover) .gallery-img {
    animation: moveFromTopLeft 0.5s forwards;
}

.gallery-carousel-fade {
    cursor: pointer;
    position: fixed;
    visibility: hidden;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.6);
}

.gallery-carousel {
    position: fixed;
    visibility: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: none
}

.gallery-carousel-inner {
    width: 50rem;
    pointer-events: auto;
}

.gallery-carousel-item img {
    object-fit: contain;
    max-height: 25rem;
    min-height: 25rem;
}

.gallery-carousel-control {
    position: fixed;
    visibility: hidden;
    z-index: 3;
}

@media (max-width: 991px) {
    .gallery-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .gallery-title {
        font-size: 32px;
    }

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}