@keyframes increaseScale105 {
    0% { 
        scale: calc(1.0);
    }
    100% { 
        scale: calc(1.05);
    }
}

@keyframes decreaseScale105 {
    0% { 
        scale: calc(1.05);
    }
    100% { 
        scale: calc(1.0);
    }
}

.info {
    cursor: default;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.info-title {
    font-family: "bonzai";
    font-size: 36px;
    text-align: center;
    color: #212529;
    position: relative;
    padding-bottom: 1rem;
}

.info-title:after {
    content: '';
    position: absolute;
    width: 33%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 33%;
    background-color: #c80000;
    transform-origin: bottom center;
}

.info-text {
    font-size: 20px;
    text-align: justify;
    color: black;
    padding-top: 1rem;
}

.mini-gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mini-gallery-item {
    position: relative;
    background: linear-gradient(to bottom, #00ff0d77, #ffc40077);
}

.mini-gallery-item:hover .mini-gallery-img {
    animation: opacitySemiHide 0.3s forwards;
}

.mini-gallery-item:not(:hover) .mini-gallery-img {
    animation: opacitySemiShow 0.3s forwards;
}

.mini-gallery-item:hover .mini-gallery-content {
    animation: opacityShow 0.3s forwards;
}

.mini-gallery-pos1 {
    grid-area: 1/1/1/1;
}

.mini-gallery-pos2 {
    grid-area: 1/2/1/2;
}

.mini-gallery-pos3 {
    grid-area: 1/3/3/3;
}

.mini-gallery-pos4 {
    grid-area: 1/4/1/4;
}

.mini-gallery-pos5 {
    grid-area: 2/1/2/1;
}

.mini-gallery-pos6 {
    grid-area: 2/2/2/2;
}

.mini-gallery-pos7 {
    grid-area: 2/4/2/4;
}

.mini-gallery-img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mini-gallery-size {
    height: 400px;
}

.mini-gallery-content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
    grid-gap: 10px;
    place-content: center center;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}

.mini-gallery-text {
    color: white;
    font-size: 24px;
    font-family: "bonzai";
    text-align: center;
    text-shadow: 0 0 6px black;
}

.mini-gallery-fa {
    color: white;
    text-shadow: 0 0 28px black;
    font-size: 28px;
}

.info-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.info-item {
    position: relative;
    text-align: center;
    border-top: 1px dashed #666666;
    border-bottom: 1px dashed #666666;
    border-left: none;
    border-right: none;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: transparent;
    animation: decreaseScale105 0.3s forwards;
}

.info-item:hover {
    animation: increaseScale105 0.3s forwards;
}

.info-fa {
    font-size: 6rem;
    color: #212529;
}

.info-name {
    padding-top: 1rem;
    font-size: 24px;
}

.info-desc {
    font-size: 20px;
}

.info-more {
    color: #666666;
    display: inline;
    padding-right: 0.25rem;
    font-size: 18px;
}

.info-fa-more {
    color: #666666;
}

@media (max-width: 991px) {
    .mini-gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mini-gallery-pos1 {
        grid-area: 1/1/1/1;
    }
    
    .mini-gallery-pos2 {
        grid-area: 2/1/2/1;
    }
    
    .mini-gallery-pos3 {
        grid-area: 3/1/5/1;
    }
    
    .mini-gallery-pos4 {
        grid-area: 1/2/1/2;
    }
    
    .mini-gallery-pos5 {
        grid-area: 2/2/2/2;
    }
    
    .mini-gallery-pos6 {
        grid-area: 3/2/3/2;
    }
    
    .mini-gallery-pos7 {
        grid-area: 4/2/4/2;
    }
}

@media (max-width: 767px) {
    .info-title {
        font-size: 32px;
    }

    .info-text {
        font-size: 18px;
    }

    .mini-gallery-img {
        height: 150px;
    }
    
    .mini-gallery-size {
        height: 300px;
    }

    .mini-gallery-text {
        font-size: 18px;
    }
    
    .mini-gallery-fa {
        font-size: 24px;
    }

    .info-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .info-item {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        border-bottom: none;
    }

    .info-item:first-child {
        border-top: none;
    }

    .info-desc {
        font-size: 18px;
    }
    
    .info-more {
        color: #666666;
        display: inline;
        padding-right: 0.25rem;
        font-size: 18px;
    }
}