@keyframes translateToTop {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes increaseDecreaseScale50 {
    0% { 
        scale: calc(1.0);
    }
    50% { 
        scale: calc(1.5);
    }
    100% { 
        scale: calc(1.0);
    }
}

@keyframes decreaseIncreaseScale50 {
    0% { 
        scale: calc(1.0);
    }
    50% { 
        scale: calc(0.5);
    }
    100% { 
        scale: calc(1.0);
    }
}

.store {
    cursor: default;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.store-title {
    font-family: "bonzai";
    font-size: 36px;
    text-align: center;
    color: #212529;
    position: relative;
    padding-bottom: 1rem;
}

.store-title:after {
    content: '';
    position: absolute;
    width: 33%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 33%;
    background-color: #c80000;
    transform-origin: bottom center;
}

.store-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
}

.store-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.store-control-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.store-price {
    grid-area: 1/1/1/1;
    width: 7rem;
    justify-self: left;
}

.store-count {
    visibility: hidden;
    text-align: center;
    grid-area: 1/2/1/2;
    width: 7rem;
    border: 1px solid #666666;
    display: inline-block;
    justify-self: right;
}

.store-num {
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: none;
    pointer-events: none;
}

.store-num:focus-visible {
    outline: none;
}

.store-minus {
    font-size: 20px;
    background-color: transparent;
    border: none;
    float: left;
    padding-left: 1rem;
}

.store-plus {
    font-size: 20px;
    background-color: transparent;
    border: none;
    float: right;
    padding-right: 1rem;
}

.bucket-button {
    visibility: hidden;
    position: fixed;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50%;
    z-index: 2;
}

.bucket {
    position: fixed;
    right: 5rem;
    width: 48rem;
    height: 32rem;
    background-color: #fdfdfd;
    z-index: 3;
    border-radius: 5% 5%;
    border: 1px dashed #666666;
    visibility: hidden;
    overflow-y: auto;
    margin: auto;
    left: 0;
    right: 0;
}

.bucket-fade {
    cursor: pointer;
    position: fixed;
    visibility: hidden;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.6);
}

.bucket-item {
    border-bottom: 1px dashed #666666;
}

.bucket-img {
    width: 10rem;
    height: 10rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 50% 50%;
    object-fit: cover;
    float: left;
}

.bucket-label-grid {
    display: grid;
    padding-left: 1rem;
    height: 7rem;
}

.bucket-name {
    grid-area: 1/1/1/1;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 20px;
}

.bucket-desc {
    grid-area: 2/1/2/1;
    padding-right: 1rem;
    font-size: 16px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bucket-control-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bucket-count {
    text-align: center;
    grid-area: 1/2/1/2;
    width: 14rem;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #666666;
}

.bucket-price {
    grid-area: 1/1/1/1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
    width: 14rem;
}

.bucket-num {
    width: 9rem;
    height: 2rem;
    text-align: center;
    border: none;
    pointer-events: none;
}

.bucket-num:focus-visible {
    outline: none;
}

.bucket-minus {
    font-size: 20px;
    background-color: transparent;
    border: none;
    float: left;
    padding-left: 1rem;
}

.bucket-plus {
    font-size: 20px;
    background-color: transparent;
    border: none;
    float: right;
    padding-right: 1rem;
}

.bucket-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
    font-size: 20px;
    color: #666666;
    margin-bottom: 0;
}

.bucket-order-grid {
    display: grid;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bucket-sum {
    grid-area: 1/1/1/1;
    text-align: right;
    font-size: 16px;
}

.bucket-confirm-order {
    grid-area: 2/1/2/1;
    justify-self: end;
}

.bucket-form {
    display: grid;
    padding: 1rem;
}

.bucket-input {
    height: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.bucket-textarea {
    width: 100%;
    height: 7rem;
    min-height: 7rem;
    max-height: 7rem;
    margin-bottom: 1rem;
    width: 100%;
}

.bucket-order {
    justify-self: end;
}

@media (max-width: 991px) {
    .bucket-desc {
        height: 96px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .store-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .bucket {
        width: 32rem;
        bottom: 0;
    }

    .bucket-label-grid {
        height: 10rem;
    }
}

@media (max-width: 767px) {
    .store-title {
        font-size: 32px;
    }

    .store-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .store-control-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .store-price {
        grid-area: 2/1/2/1;
        width: 100%;
        justify-self: normal;
        margin-top: 0.5rem;
    }
    
    .store-count {
        grid-area: 1/1/1/1;
        width: 100%;
        justify-self: normal;
        margin-bottom: 0.5rem;
    }

    .bucket {
        width: 16rem;
        bottom: 0;
    }

    .bucket-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 10rem;
        padding-left: 0;
    }

    .bucket-label-grid {
        height: 13rem;
        text-align: center;
    }

    .bucket-control-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .bucket-count {
        grid-area: 1/1/1/1;
        margin-bottom: 0.5rem;
    }

    .bucket-price {
        grid-area: 2/1/2/1;
        margin-top: 0.5rem;
    }
}